---
services:
  bot:
    image: ghcr.io/federation-interservices-d-informatique/fiibot-moderation:1.4.0
    env_file: .env
    restart: always
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - db
      - redis

  db:
    image: postgres:18.2-alpine
    env_file: .env
    restart: always
    ports:
      - 127.0.0.1:6906:5432
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - fiibot-moderation-postgres:/var/lib/postgresql/

  redis:
    image: valkey/valkey:9.0.2-alpine
    restart: always
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

volumes:
  fiibot-moderation-postgres:
    driver: local
