---
services:
  app:
    image: joplin/server:3.5.2
    env_file: .env
    restart: always
    ports:
      - 127.0.0.1:3003:3003
    depends_on:
      - db
  db:
    image: postgres:18.1-alpine
    env_file: .env
    restart: always
    volumes:
      - joplin-postgres:/var/lib/postgresql/
    ports:
      - 127.0.0.1:6901:5432

volumes:
  joplin-postgres:
    driver: local
